.completed{
    text-decoration:line-through;
    color:grey;
    opacity:.85;

}

input{
    display:flex;
    justify-content: space-around;
}

label{
   font-size: 2rem;
   font-size: bold;
}

.App{

   display: flex; 
   margin: 10%;
   padding: 2rem;
   justify-content: space-around;
}